@font-face {
    font-family: "PT Sans";
    font-style:bold;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html{
  height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    color:  #000000;
    background-color: #f2f2f2;
    margin: 0;
    min-height: 100%;
}

.main-wrapper{
  width: 1200px;
  background-color: #ffffff;
  display:flex;
  flex-direction: column;
  margin:0 auto;
}


.sedona-logo{
  display: block;
  align-self: flex-start;
  width: 140px;
  margin-bottom: -6px;
}

.main-logo{
  display: block;
}

.main-header {
  display:flex;
  color: #242424;
  background-color: #ffffff;
}

.navigation{
  display: flex;
  width:1060px;
  min-height: 64px;
  margin: 0 auto;
  column-gap: 30px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 339px;
  height: 64px;
  list-style-type: none;
}

.navigation-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 44px;
  min-height: 64px;
}


.navigation-link {
  display:block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:  #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.navigation-user{
margin-left:auto;
min-width: 268px;

}

.navigation-user .navigation-link{
min-width: 20px;
min-height: 20px;
padding: 22px 12px;
}

.green-circle{
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
}

.main-index{
  flex-grow: 1;
}

.sedona-description{
  width: 1200px;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  background-image:url("../images/index/svg-welcome-sedona-divider.svg"), url("../images/index/jpg-welcome-sedona-backhround.jpg");
  background-repeat: no-repeat;
  background-position: left bottom,left top;
  background-color:  #82b3d3;
  background-size: 100% auto,cover;
}

.sedona-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.sedona-text{
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero{
  align-self: center;
  padding-top: 51px;
}

.advantages{
  display: flex;
  flex-direction: column;
}

.advantages-container{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-img{
  display: block;
}

.advantages .sedona-title{
  padding:69px 290px;
  padding-bottom:0;
  margin-bottom:25px;
}

.advantages .sedona-text{
  padding:69px 274px;
  padding-top:0;
}

.advantages-list{
  width: 1200px;
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  min-height:385px ;
}
.big-item{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 1200px;
}

.big-item-reverse{
  flex-direction: row-reverse;
}

.advantage-pic{
  width:800px;
}

.advantages-title{
  align-self: center;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding:0 112px;
  padding-top:112px
}

.advantages-container .advantages-title{
  padding-top:102px;
}

.advantages-text{
  width: 230px;
  align-self: center;
  color: #333333;
  line-height: 21px;
  text-align: center;
}

.reasons .sedona-title{
  padding:64px 347px;
  padding-bottom:0;
}

.reasons .sedona-text{
  padding:64px 355px;
  padding-top:0;
}

.hotel-search{
  display: flex;
 flex-direction: column;
}

.hotel-search .sedona-title{
  padding:96px 451px;
  padding-bottom:0;
}

.hotel-search .sedona-text{
  padding-left:304px;
  padding-right: 304px;
  margin-bottom:54px;
}

.search-button{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 376px;
  min-height: 52px;
  padding: 8px 50px;
  border-radius: 4px;
  background-color:  #756157;
}

.search-button-wrapper{
  padding:96px 362px;
  padding-top:0;

}

.subscribtion{
  display:flex;
  flex-direction: column;
  background-color: #82b3d3;
  background-image: url("../images/index/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.subscribtion .sedona-title{
  padding:96px 398px;
  padding-bottom:0;
}

.subscribtion .sedona-text{
  padding-left:362px;
  padding-right:362px;
  margin-bottom:54px;
  }


.subscribtion-form{
  display: flex;
  margin: 0;
  width: 684px;
  height: 52px;
  padding:104px 258px;
  padding-top:0;
}

.subscribtion-input{
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  padding: 0;
  border: none;
}

.seconadry-input{
  background-color: #f2f2f2;
}

.subscribtion-button{
  width: 227px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  padding: 0;
  background-color: #82b3d3;
  border: none;
  }

.page-footer{
  display: flex;
  justify-content: space-around;
}

.social-list{
  margin: 0;
  padding-top:45px;
  padding-right: 0;
  padding-bottom:35px;
  padding-left:70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 182px;
  min-height: 40px;
  list-style: none;
}

.social-item{
  width: 40px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: 50% 50%;
}


.phone{
  display: block;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 30px;
}

.author-logo{
  width: 115px;
  min-height: 32px;
  margin-top: 48px ;
  background-image: url("../images/index/author-logo.svg");
  background-repeat: no-repeat;
}

.sedona-filters{
  width: 1200px;
  min-height:auto;
  background-image: url("../images/catalog/filtr.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.big-text{
  font-size: 60px;
  text-align: left;
}

.breadcrumps{
  display: flex;
  list-style: none;
}

.broadcramps-link{
  font-size: 16px;
  line-height: 21px;
}

.filters-form{
  display: flex;
  flex-direction: column;
  padding: 70px;
  padding-top:35px;
}

.filters-wrapper{
  display: flex;
}

.price-range{
  width: 288px;
  min-height: 160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.price-range-title{
  padding: 0;
  margin: 0;
}

.sedona-legend{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list{
  list-style: none;
}

.filters-item{
  line-height: 23px;
  color: #ffffff;
}

.price-range{
  font-weight: 700;
}

.filters-result{
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.filters-result .sedona-title{
  margin: 0;
}

.select-price{
  margin-left: auto;
  display: flex;
  min-width: 292px;
  height: 49px;
}

.option-aria{
  display: flex;
}

.view-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 70px;
}

.view-item{
  min-width: 48px;
  min-height: 48px;
  border:2px solid #e5e5e5;
}

.view-item-active{
  border:2px solid #000000;
}

.hotels-catalog{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hotels-catalog-list{
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.hotels-catalog-item{
  display: grid;
  grid-template-columns: repeat(4,25%);
  /*grid-template-rows:  repeat(3,auto);*/
  width: 340px;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  row-gap: 16px;
  justify-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hotels-catalog-img{
width: 300px;
grid-column: 1/-1;
justify-self: center;
object-fit: cover;
}

.hotels-catalog-wrapper{
width: 300px;
grid-column: 1/-1;
display: grid;
justify-self: center;
grid-template-columns: auto auto;
grid-template-rows: repeat(4,auto);
column-gap: 20px;
row-gap: 16px;
}

.hotels-catalog-item .advantages-title{
text-align: start;
grid-column: 1/-1;
padding: 0;
justify-content: center;
}
.hotels-catalog-item .advantages-text{
column-gap: 20px;
width: 140px;
text-align: start;
margin: 0;
}

.hotels-catalog-item .price-text{
  text-align: end;
}

.hotel-button{
width: 140px;
align-items: center;

}

.hotel-image{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pagination-list{
  width: 1060px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link{
  display: block;
  align-self: center;
  text-decoration: none;
  color: #ffffff;
  background-color:#82b3d3;
  min-width:60px;
  padding: 12px 6px ;
}

.current-pagination-link{
  color: #000000;
  background-color: #f2f2f2;
}



.form-input{
font-family: inherit;
}

.filters-input{
  font-family: inherit;
}



.select-price{
  font-family: inherit;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
  background-color: #ffffff;
}

.hotels-catalog-reit{
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 9px 22px;
}

.subscribtion-inner{
  background: none;
}

.sub-text{
  color:#ffffff;
}



.button{
  font-family:inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-width: 160px;
min-height: 36px;
border-radius: 4px;
background-color: #756157;
}

.hotel-button{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-width: 140px;
min-height: 36px;
border: none;
border-radius: 4px;
background-color: #756157;
}

.current-button{
 background-color:  #7db54f;;
}

.dark{
  background-color:#82b3d3;
}

.light{
  background-color: rgba(131, 179, 211, 0.12);
}

.medium{
  background-color: rgba(131, 179, 211, 0.2);
}
