@font-face {
    font-family: "PT Sans";
    font-style:bold;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html{
  height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    color:  #000000;
    background-color: #f2f2f2;
    margin: 0;
    min-height: 100%;
}

.main-wrapper{
  width: 1200px;
  background-color: #ffffff;
  display:flex;
  flex-direction: column;
  margin:0 auto;
}

.sedona-logo{
  display: block;
  align-self: flex-start;
  width: 140px;
  margin-bottom: -6px;
}

.main-logo{
  display: block;
}

.main-header {
  display:flex;
  color: #242424;
  background-color: #ffffff;
}

.navigation{
  display: flex;
  align-items: center;
  width:1060px;
  min-height: 64px;
  margin: 0 auto;
  column-gap: 20px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 439px;
  height: 64px;
  list-style-type: none;
  margin-bottom:1px
}

.navigation-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100px;
  min-height: 64px;
}


.navigation-link {
  display:block;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:  #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.navigation-link-current::before{
  content: "";
  position: absolute;
  border-bottom:2px solid #756257;
  height: 0;
  right: 16px;
  left: 16px;
  bottom: 0;
  margin: auto;
}

.navigation-user{
display: flex;
min-width: 88px;
list-style: none;
margin: 0;
margin-left: auto;
padding: 0;
}

.navigation-user-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 44px;
  min-height: 64px;
}

.favorite-item{
  position: relative;
}

.search-svg{
  fill:#000;
}

.favorite-svg{
  fill:#000;
}

.green-circle{
  position: absolute;
  text-align: center;
  font-size: 10px;
  line-height: 19px;
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
  top:9px;
  left:22px;
  right: 5px;
  bottom:35px;
}

.main-index{
  flex-grow: 1;
}

.sedona-description{
  width: 1200px;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  background-image:url("../images/index/svg-welcome-sedona-divider.svg"), url("../images/index/jpg-welcome-sedona-backhround.jpg");
  background-repeat: no-repeat;
  background-position: left bottom,left top;
  background-color:  #82b3d3;
  background-size: 100% auto,cover;
}

.sedona-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.sedona-text{
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero{
  align-self: center;
  padding-top: 51px;
}

.advantages{
  display: flex;
  flex-direction: column;
}

.advantages-container{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-img{
  display: block;
}

.advantages .sedona-title{
  padding:69px 290px;
  padding-bottom:0;
  margin-bottom:25px;
}

.advantages .sedona-text{
  padding:69px 274px;
  padding-top:0;
}

.advantages-list{
  width: 1200px;
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  min-height:385px ;
}
.big-item{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 1200px;
}

.big-item-reverse{
  flex-direction: row-reverse;
}

.advantage-pic{
  width:800px;
}

.advantages-title{
  align-self: center;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding:0 112px;
  padding-top:112px
}

.advantages-container .advantages-title{
  padding-top:102px;
}

.advantages-text{
  width: 230px;
  align-self: center;
  color: #333333;
  line-height: 21px;
  text-align: center;
}

.reasons .advantages-title{
  padding: 0;
  margin: 0;
}

.advantages-svg{
  display: block;
 padding:81px 163px;
 padding-bottom: 0;
 margin-bottom: 30px;
}

.reasons .sedona-title{
  padding:64px 347px;
  padding-bottom:0;
}

.reasons .sedona-text{
  padding:64px 355px;
  padding-top:0;
}

.hotel-search{
  display: flex;
 flex-direction: column;
}

.hotel-search .sedona-title{
  padding:96px 451px;
  padding-bottom:0;
}

.hotel-search .sedona-text{
  padding-left:304px;
  padding-right: 304px;
  margin-bottom:54px;
}

.search-button-wrapper{
  padding:96px 362px;
  padding-top:0;
}

.subscribtion{
  display:flex;
  flex-direction: column;
  background-color: #82b3d3;
  background-image: url("../images/index/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.subscribtion .sedona-title{
  padding:96px 398px;
  padding-bottom:0;
}

.subscribtion .sedona-text{
  padding-left:362px;
  padding-right:362px;
  margin-bottom:54px;
  }


.subscribtion-form{
  display: flex;
  margin: 0;
  width: 684px;
  height: 52px;
  padding:104px 258px;
  padding-top:0;
}

.subscribtion-input{
  width: 452px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  padding: 14px 20px;
  padding-right: 0;
  border: none;

}

.seconadry-input{
  background-color: #f2f2f2;
}

.subscribtion-button{
  width: 227px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  padding: 0;
  background-color: #82b3d3;
  border: none;
  }

.page-footer{
  display: flex;
  align-items: center;
}

.social-list{
  margin: 0;
  margin-right:236px;
  padding-top:45px;
  padding-right: 0;
  padding-bottom:35px;
  display: flex;
  flex-wrap: wrap;
  min-width: 182px;
  min-height: 40px;
  list-style: none;
}

.social-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: 50% 50%;
}

.social-svg{
  fill:#83B3D3;
}

.social-svg:hover{
  fill: #68a2ca;
}

.social-svg:active{
  fill: rgba(104, 162, 202, 0.3);
}

.phone{
  display: block;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.phone:hover{
  color:#756157;
}

.phone:active{
  color:rgba(117, 97, 87, 0.3);
}

.author-logo{
  width: 115px;
  min-height: 32px;
  background-image: url("../images/index/author-logo.svg");
  background-repeat: no-repeat;
  padding-right: 70px;
}

.author-logo-svg{
  fill:#000;
}

.author-logo-svg:hover{
  fill:#756157;
}

.author-logo-svg:focus{
  fill:#756157;
}

.author-logo-svg:active{
  fill:rgba(117, 97, 87, 0.3);
}

.sedona-filters{
  padding: 70px;
  padding-top: 35px;
  padding-right: 0;
  min-height:auto;
  background-image: url("../images/catalog/filtr.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.big-text{
  font-size: 60px;
  text-align: left;
}

.breadcrumps{
  display: flex;
  min-width: 114px;
  list-style: none;
  padding: 0;
}

.breadcrumps-item{
  max-width: 100px;
  position: relative;
  margin-right: 28px;
}

.breadcrumps-link{
  display: flex;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  margin-right: 28px;
  justify-content: start;
  align-items: baseline;
}

.breadcrumps-item::after{
  position: absolute;
  content: "";
  background-image: url("../images/catalog/breadcrumps-arrowsvg.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 20px;
  margin: 0 10px;
  top: 8px;
  bottom: 0;
}

.breadcrumps-item:last-child::after{
  content: none;
}

.breacrumps-svg{
  fill:#fff;
}

.filters-form{
  display:flex;
}

.filters-wrapper{
  display: grid;
  width: 370px;
  grid-template-columns: 150px 150px;
  gap:0 70px;
  margin-right: 140px ;
}

.price-range{
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  min-height: 160px;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.price-range-title{
  padding: 0;
  margin: 0;
  margin-bottom:32px;
}

.price-range-wrapper{
margin-bottom:36px;
width: 288px;
height: 48px;
display: flex;
}

.price-range-input{
width: 103px;
border: none;
padding:12px 20px;
padding-left: 20px;
font-weight: 700;
font-size: 18px;
color: #000;
background:#e6e6e6 ;
outline: none;
}

.price-range-input:hover{
  background:#e6e6e6 ;
  border: none;
  outline: none;
}

.price-range-input:focus{
  background:#e6e6e6 ;
  outline: 3px solid #83b3d3;
}

.input-min{
  border-radius: 4px 0 0 4px;
}

.input-max{
  border-radius: 0 4px 4px 0;
}

.price-range-input::-webkit-outer-spin-button,
.price-range-input::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}

.range-scale{
  position: relative;
  width: 287px;
  height: 4px;
  background: rgba(255,255,255,0.3);
}

.range-bar{
  position: absolute;
  height: 4px;
  left:0;
  right: 61px;
  background-color:rgb(255,255, 255);
}

.range-button{
 width: 20px;
 height: 20px;
 border-radius: 5px;
 border: none;
}

.min-button{
position: absolute;
top: -8px;
left: 0;
}

.max-button{
  position: absolute;
  top: -8px;
  right: 0;
  }

.filter-buttons-wrapper{
  display: flex;
  flex-direction: column;
  width: 191px;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}


.price-label{
  position: relative;
  height: 48px;
  margin-right: 2px;
}

.price-label:last-child{
  margin: 0;
}

.price-range-text{
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  width: 18px;
  height: 24px;
  color: #333;
  margin: 0;
  right: 20px;
  top: 8px;
}

.fielters-fieldset{
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
}

.sedona-legend{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.filter-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.filters-item{
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 16px;
}

.filters-item:last-child{
  margin-bottom: 0;
}


.filters-result{
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.filters-result .sedona-title{
  margin: 0;
}

.select-price{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  min-width: 292px;
  height: 49px;
  padding: 14px 20px;
  padding-right: 0;
  border: 2px solid #e5e5e5;
  appearance: none;
  background-image: url("../images/catalog/assort-arrow.svg");
  background-repeat: no-repeat;
  background-position: 255px 17px;
}

.select-price:hover{
  border: 2px solid  #68a2ca;
}

.select-price:focus{
  border: 2px solid  #68a2ca;
}

.select-price:disabled{
  border: 2px solid  rgba(0, 0, 0, 0.3);
  color:  rgba(0, 0, 0, 0.3);
  background-image: url("../images/catalog/svg-disable-assort-arrow.svg");
}

.option-aria{
  display: flex;
}

.view-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 70px;
}

.view-item{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  border:2px solid #e5e5e5;
}

.view-item:hover{
  border:2px solid #000000;
}

.view-item:focus{
  border:2px solid #68a2ca;
}

.view-item:active{
  border:2px solid #000000;
}

.view-svg{
  fill:#000;
}

.view-item-active{
  border:2px solid #000000;
}

.hotels-catalog{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hotels-catalog-list{
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.hotels-catalog-item{
  display: grid;
  grid-template-columns: repeat(2,140px);
  width: 340px;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  row-gap: 16px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap:16px 20px;
}

.hotels-catalog-img{
width: 300px;
grid-column: 1/-1;
justify-self: center;
object-fit: cover;
}

.hotels-catalog-item .advantages-title{
text-align: start;
grid-column: 1/-1;
padding: 0;
justify-content: center;
}
.hotels-catalog-item .advantages-text{
column-gap: 20px;
width: 140px;
text-align: start;
margin: 0;
}

.hotels-catalog-item .price-text{
  text-align: end;
}

.stars{
  margin: 0;
  justify-content: center;
  align-self: center;
}

.stars-svg{
  fill:#83B3D3;
}

.hotel-button{
width: 140px;
align-items: center;

}

.hotel-image{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pagination-list{
  width: 1060px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link{
  display: block;
  align-self: center;
  text-decoration: none;
  color: #ffffff;
  background-color:#82b3d3;
  min-width:60px;
  padding: 12px 6px ;
}

.pagination-link:hover{
 background-color: #68a2ca;
}

.pagination-link:focus{
  background-color: #68a2ca;
 }

 .pagination-link:active{
  background-color:  #82b3d3;
  color:  rgba(255, 255, 255, 0.3);
 }

.current-pagination-link{
  color: #000000;
  background-color: #f2f2f2;
}

.current-pagination-link:hover{
  background-color: #f2f2f2;
}

.form-input{
font-family: inherit;
}

.filters-input{
  font-family: inherit;
}

.select-price{
  font-family: inherit;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
  background-color: #ffffff;
}

.hotels-catalog-reit{
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 9px 22px;
}

.subscribtion-inner{
  background: none;
}

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal{
 position:relative;
 margin: auto;

}

.modal-auth{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  background-color:#fff;
  padding: 64px 70px;
}

.modal-title{
  font-size: 30px;
  width: 413px;
  margin: 0;
  margin-bottom: 64px;
  text-transform: uppercase;
  color: #000;
}

.modal-close-button{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  right: 52px;
  top: 52px;
  border: none;
}

.modal-close-button:hover{
  border: none;
}

.modal-close-button:focus{
  border: 2px solid #83b3d3;
}

.modal-form{
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 48px;
}

.modal-wrapper{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 48px;
}

.modal-text{
  margin-right: 24px;
  color: #000;
}

.modal-input{
  width: 400px;
  height: 48px;
  padding: 0 20px;
  border: none;
  background-color:#f2f2f2;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.input-age{
  width: 110px;
  text-align: center;
  padding: 0;
}

.modal-label{
  position: relative;
  height: 48px;
  margin-bottom: 4px;
}

.modal-age{
  width: 110px;
  position: relative;
  margin-right: 87px;
}

.modal-age:last-child{
  margin: none;
}

.modal-child{
  margin-right: 10px;
}

.modal-adult{
  margin-right: 46px;
}

.modal-tooltip{
  display: flex;
  justify-content: center;
  align-items: center;
 width: 26px;
 height: 26px;
 margin-right: 46px;
 background-color: #83b3d3;
 border-radius: 100%;
}

.modal-svg{

  padding: 12px;
}

.minus-button{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 10px;
  background-image: url("../images/modal/minus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.plus-button{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 10px;
  background-image: url("../images/modal/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}



.date-button{
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  top: 14px;
  right: 20px;
}

.modal-sub-text{
  margin: 0;
  margin-left: 155px;
  width: 331px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 23px;
}

.sub-text{
  color:#ffffff;
}

.error{
  color: #ff5757;
}

.button{
  display: inline-block;
  font-family:inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border:none;
}

.navigation-button{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-width: 160px;
min-height: 36px;
border-radius: 4px;
background-color: #756157;
}

.hotel-button{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-width: 140px;
min-height: 36px;
border: none;
border-radius: 4px;
background-color: #756157;
}

.hotel-link{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-width: 140px;
min-height: 36px;
border: none;
border-radius: 4px;
background-color: #756157;
}

.hotel-link:hover{
  background-color:#615048;;
}

.hotel-link:focus{
    background-color:#615048;;
}

.hotel-link:active{
      background-color:#756157;
      color: rgba(255, 255, 255, 0.3);
}


.hotels-catalog-item .dark:hover{
  background-color: #68a2ca;
}

.hotels-catalog-item .dark:focus{
  background-color: #68a2ca;
}

.hotels-catalog-item .dark:active{
  background-color:  #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.current-button{
 background-color: #7db54f;
}

.current-button:visited{
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}


.current-button:hover{
  background-color:  #6c9e42;
}

.hotels-catalog-item.current-button:hover{
  background-color:  #6c9e42;
}

.current-button:active{
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.search-button{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 376px;
  min-height: 52px;
  padding: 8px 50px;
  border-radius: 4px;
  background-color:  #756157;
  line-height: 36px;
}

.modal-search-button{
  background-color: #83b3d3;
  justify-self: center;
  padding: 18px 77px;
  border-radius: 10px;
  font-size: 20px;
}

.form-input{
  outline: none;
}

.filter-button{
  width: 191px;
  border-radius: 4px;
  padding: 8px 50px;
  background-color: #82b3d3;
  margin-bottom: 28px;
}

.filter-button:last-child{
  margin-bottom: 0;
}

.transporent-button{
  background-color: transparent;
}

.dark{
  background-color:#82b3d3;
}

.light{
  background-color: rgba(131, 179, 211, 0.12);
}

.medium{
  background-color: rgba(131, 179, 211, 0.2);
}
